.navbar{
    display: flex;
    align-items: center;
    size: 10%;    
    margin-top: -1% ;
    margin-left: 5px ;
} 
.box1{
    list-style: none;
    display: flex; 
    gap: 30px;
    cursor: pointer;
}
.icon ion-icon{
   margin-left: 60px;
} 
.navbar img{
height: 150px;
}
span{
    font-weight: 100px;
    font-weight: 100px;
}
.photo{
    height: 200px
}
.image {
    display: flex;
    background-size: 700px;
    width: 1000px;
    height: 500px;

}
.image img{
  width: 60%;
}
.intro{
    display: flex;
    align-items: center; 
    color: maroon;
}
.text{
    text-align: center;
    size: 2opx;
}

.babies{
    display: flex;
    gap: 80px;
}
p{
    text-align: center;
    size: 40px;
    font-size: 30px;
}
.wear{
    display: flex;
    gap: 90px;
    justify-content: space-between;
}
.man{
    display: flex;
    gap: 60px;
}
.endpage{
    display:flex ;
    gap: 150px;
    background-color: rgba(43, 38, 38, 0.753);
}
.pa{
   font-size: large;
}
.paa{
    font-size: large;
}
.pop{
    font-size: large;
}
/* 
.Q{
    size: 10px;
} */
.names{
    display: flex;
    gap: 300px;
}
.names p{
    font-size: large;
}
.Feml{
    display: flex;
    gap: 250px;
}
.Feml p{
    font-size: large;
}
.male{
    display: flex;
    gap: 310px;
}
.male p{
    font-size: large;
}
